*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

body {
    background-image: url(/img/nordwood-themes-nDd3dIkkOLo-unsplash.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
